<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="jsonPath" value="C:\Users\FyGSolutions\Documents\key\escaner-twain-210bd99408f3.json" />
    <add key="projectId" value="escaner-twain" />
    <add key="bucketName" value="escaner-twain-twain-net" />
    <add key="filesPath" value="C:\Users\FyGSolutions\Pictures\Saved Pictures\" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.32.0.0" newVersion="1.32.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.32.0.0" newVersion="1.32.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>